*{
    margin:0;
    padding: 0;
}
nav{
    background-color: black;
    color:white;
    padding:15px;
}
li,h1,ul{
    display: inline;

}
ul{
    margin-left: 60%;
}
li{
    color:grey;
    cursor:pointer;
}
li:hover{
    color: white;
}
input{
    width:60%;
    padding: 15px;
    margin:10px;
}
.searchbar{
    padding: 15px;
    text-align: center;
}
.box{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 300px;
}
.box:hover{
    background-color: black;
    color:antiquewhite;
}
.About{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    
}
.Contact{
    background-color: black;
    color: antiquewhite;
    padding:10px;
}
